# Dependencies
node_modules

# Env
.env
.env.*
!.env.example

# Turbo
.turbo

# Coverage
coverage

# macOS
.DS_Store

# Secrets
*.pem

# AI
.superpowers/
.playwright-mcp
.claude
.codex
.pi
docs

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json